*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", sans-serif;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
}

li,a,button{
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #358cd8;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 50px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(216 209 200 / 70%);
}

.logo img{
    height: 60px;
    border-radius: 50%;
    cursor: pointer;

    
}
.logo{
    margin-right: auto;
    margin-left: 50px;
}

.nav__links{
    list-style: none;
    
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px ;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
   color: #042849;
}

.cta{
    margin-left: 20px;
    border: none;

    padding: 9px 25px;
    background-color: #204e77;
    color: aliceblue;
    border-radius: 16.5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(216 209 200 / 70%);
    transition: all 0.2s ease-in ;
}

.cta:hover{
    background-color: #2575bb;
}

#main{
  width: 100%;
  height: 80%;
  background-image: url(/images/main-slideshow/1.jpg);
  background-size: cover;
  background-position: center center;
}



.intro{color: #3a3a3a;
    overflow: hidden; 
    text-align: center;
    
}

#heading1{
  margin: 20px 0px 10px;
  transition: all 1s ease-out;
}

#slogan{
  display: inline-block;
  transition: all 0.3s ease-out;
  margin-bottom: 30px;

}

.submit-form{
    margin-top: 30px;
}
.ho{
    padding-bottom: 50px;
  }
   .sm{
    display: none;
    position: absolute;
    background-color:#fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
    width: 185px;
    margin-top: 21.1px;
   }
  .m:hover .sm {
    display: block;
  }
  .sm  a{
    color:black;
    padding: 8px 10px;
    text-decoration: none;
    display:block;
    font-size: 14px;
    font-weight: 400;
  }
  
  .sm a:hover{
      background-color:#358cd8;
      color: #fff !important;
  }

  /* product gas css */

   .heading{
      width: 100%;
      height: 60px;
      background-color:#358cd8;
   }
   .heading a{
       margin-top: 10px;
       font-size: 26px;
       font-weight: 250;
       display: inline-block;
       padding-left: 100px;
       color:#fff;
   }
   .info{
       margin: 17px;
       font-size: 17px;
       font-weight: 250;
   }
   .info div{
       margin-top: 10px;
    padding-bottom: 15px;
    max-width: 850px;
    padding-left: 50px;
    line-height: 1.5;
   }
   .info .tp{
       font-weight: bold;
     color:#666666;
     padding-left: 5px;
   }
   .info .shd{
       padding-left:50px;
       font-size: 23px;
       font-weight: 100;
       color: black;
       padding-bottom: 10px;
   }
   .info .shd .fa{
    margin-right: 6px;
    padding: 8px;
       color:#fff;
       background-color:#358cd8;
       border-radius: 60px;
       display: inline-block;
       width: 36px;
font-size: 16px;
line-height: 20px;
height: 36px;
text-align: center;
   }
    .tick{
        color: white;
        background-color:green;
        border:2px solid green;
        border-radius: 50%;
        
    }
   .info hr{
       width: 60%;
       margin-left:45px;
       height: 1px;
   }
