*{
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", sans-serif;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
}

li,a,button{
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #358cd8;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 50px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(216 209 200 / 70%);
}

.logo img{
    height: 60px;
    border-radius: 50%;
    cursor: pointer;

    
}
.logo{
    margin-right: auto;
    margin-left: 50px;
}

.nav__links{
    list-style: none;
    
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px ;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
   color: #042849;
}

.cta{
    margin-left: 20px;
    border: none;

    padding: 9px 25px;
    background-color: #204e77;
    color: aliceblue;
    border-radius: 16.5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(216 209 200 / 70%);
    transition: all 0.2s ease-in ;
}

.cta:hover{
    background-color: #2575bb;
}

#main{
  width: 100%;
  height: 80%;
  background-image: url(/images/main-slideshow/1.jpg);
  background-size: cover;
  background-position: center center;
}



.intro{color: #3a3a3a;
    overflow: hidden; 
    text-align: center;
    
}

#heading1{
  margin: 20px 0px 10px;
  transition: all 1s ease-out;
}

#slogan{
  display: inline-block;
  transition: all 0.3s ease-out;
  margin-bottom: 30px;

}

.submit-form{
    margin-top: 30px;
}
