*{
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
  box-sizing: border-box;
  
}

body{
  height: 100vh;
  background-color: #d6e5ff;
}



body {
  font-family: "josefin sans", "helvetica", sans-serif;
  font-size: 1rem;
}

header {
  background: rgb(252, 252, 252);
  padding-left: 1.5em;
  position: fixed;
  width: 100%;
  top: 0;
}
.logo img{
  height: 60px;
  border-radius: 50%;
  cursor: pointer;

  
}
.logo{
  margin-right: auto;
  margin-left: 50px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
header{
  box-shadow: 0 1px 1px rgb(216 209 200 / 70%);
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu li {
  list-style: none;
}
.menu li a {
  display: block;
  text-decoration: none;
  color: #358cd8;
  padding: 1em 1.5em;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in;
  
}

/* Styling submenu */
.has-dropdown {
  position: relative;
}
.submenu {
  position: absolute;
  left: 0;
  background-color: #fff;
  white-space: nowrap;
  padding: 0.2em 0;
  min-width: 16em;
  box-shadow: 0px 0px 10px black;
  /* hide submenus */
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  z-index: 10;
}
.submenu > li > a {
  padding: 0.8em 1.5em;
  z-index: 500;
}


.menu > li:hover > a,
.submenu > li:hover > a {
  color: #fff;
  background-color: #042849;
  border-radius: 2px;
  z-index: 10 !important;
}


/* Arrows */

.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-top: -0.25em;
  transition: transform 100ms ease-in-out;
}

/* Reveal  */
.menu > li:hover > a + .submenu{
  opacity: 1;
  transform: scaleY(1);
}

/* ANIMATE aRROWS */
.menu > li:hover > a > .arrow{
  transform: rotate(225deg);
}

@media only screen and (max-width: 78.75em) {
  
  .submenu {
    min-width: 16em;
  }
}
@media only screen and (max-width: 58.75em) {
  .menu li a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 50em) {
  header {
    
    padding: 0.4em 1em;
  }
  .logo{
    margin-left: 10px;
    margin-top: 0;
  }
  .menu {
    flex-flow: column;
    position: absolute;
    background: #fff;
    top: 4.55em;
    left: 0;
    right: 0;
    height: 100vh;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
      100ms opacity ease-in-out;
    padding-top: 20px;
    overflow-y: scroll;
    
  }
  .menu > li > a {

    font-size: 1rem;
    color: #042849;
  }
  .submenu > li > a {
    font-size: 1rem;
  }

  .submenu {
    top: 0;
    padding-left: 1.5em;
    border-left: 0.12em dotted hsla(226, 59%, 44%, 0.95);
  }


  .menu > li:hover > a + .submenu {
    position: relative;
  }

  .hamburger {
    width: 2em;
    height: 0.25em;
    display: block;
    background: #0d4c83;
    position: relative;
    cursor: pointer;
    transition: 0.2s transform ease-in-out;
  }
  .hamburger::after,
  .hamburger::before {
    content: "";
    position: absolute;
    background: #fff;
    top: 4.55em;
    left: 0;
    background: inherit;
    width: inherit;
    height: inherit;

    transition: 0.2s transform ease-in-out;
  }

  .hamburger::after {
    top: 0.65em;
  }
  .hamburger::before {
    bottom: 0.65em;
  }

  .close::after,
  .close::before {
    top: 0;
    transition: 0.2s transform ease-in-out;
  }
  .close::before {
    display: none;
  }
  .close {
    transform: rotate(45deg);
    transition: 0.2s transform ease-in-out;
  }
  .close::after {
    transform: rotate(-90deg);
  }

  /* reveal menu */
  input[type="checkbox"]:checked + .menu {
    position: absolute;
    opacity: 1;
    transform: scaleY(1);
  }
}

 .contact{
  background-color: #0d4c83;
   color: #fff !important;
   margin: 8px 50px 0 10px ;
    border: none;

    padding: 9px 25px !important;
    background-color: #204e77;
    color: aliceblue;
    border-radius: 16.5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(216 209 200 / 70%);
    transition: all 0.2s ease-in ;
    border-radius: 3px;
}

  .close::after,
  .close::before {
    top: 0;
    transition: 0.2s transform ease-in-out;
  }
  .close::before {
    display: none;
  }
  .close {
    transform: rotate(45deg);
    transition: 0.2s transform ease-in-out;
  }
  .close::after {
    transform: rotate(-90deg);
  }

  /* reveal menu */
  input[type="checkbox"]:checked + .menu {
    position: absolute;
    opacity: 1;
    transform: scaleY(1);
  }


 .contact{
  background-color: #0d4c83;
   color: #fff !important;
   margin: 8px 50px 0 10px ;
    border: none;

    padding: 9px 25px !important;
    background-color: #204e77;
    color: aliceblue;
    border-radius: 16.5px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(216 209 200 / 70%);
    transition: all 0.2s ease-in ;
}

#main{
width: 100%;
height: 80%;
background-image: url(/images/main-slideshow/1.jpg);
background-size: cover;
background-position: center center;
}



.intro{color: #3a3a3a;
  overflow: hidden; 
  text-align: center;
  
}

#heading1{
margin: 20px 0px 10px;
transition: all 1s ease-out;
}

#slogan{
display: inline-block;
transition: all 0.3s ease-out;
margin-bottom: 30px;

}

.submit-form{
  margin-top: 30px;
}


/* product gas css */

.heading{
width: 100%;
height: 60px;
background-color:#358cd8;
}
.heading a{
margin-top: 10px;
font-size: 26px;
font-weight: 250;
display: inline-block;
padding-left: 100px;
color:#fff;
}
.info{
margin: 17px;
font-size: 17px;
font-weight: 250;
}
.info div{
margin-top: 10px;
padding-bottom: 15px;
max-width: 850px;
padding-left: 50px;
line-height: 1.5;
}
.info .tp{
font-weight: bold;
color:#666666;
padding-left: 5px;
}
.info .shd{
padding-left:50px;
font-size: 23px;
font-weight: 100;
color: black;
padding-bottom: 10px;
}
.info .shd .fa{
margin-right: 6px;
padding: 8px;
color:#fff;
background-color:#358cd8;
border-radius: 60px;
display: inline-block;
width: 36px;
font-size: 16px;
line-height: 20px;
height: 36px;
text-align: center;
}
.tick{
color: white;
background-color:green;
border:2px solid green;
border-radius: 50%;

}
.info hr{
width: 60%;
margin-left:45px;
height: 1px;
}


.heading a{
     margin-top: 10px;
     font-size: 26px;
     font-weight: 500;
     display: inline-block;
     color:#fff;
 }
 .info{
     margin: 17px;
     font-size: 17px;
     font-weight: 250;
 }
 .info div{
     margin-top: 20px;
  padding-bottom: 15px;
  max-width: 850px;
  padding-left: 50px;
  line-height: 1.5;
 }
 .info .tp{
     font-weight: bold;
   color:#666666;
   padding-left: 5px;
 }
 .info .shd{
     padding-left:50px;
     font-size: 23px;
     font-weight: 300;
     color: black;
     padding-bottom: 10px;
 }
 .info .shd .fa{
  margin-right: 6px;
  padding: 8px;
     color:#fff;
     background-color:#358cd8;
     border-radius: 60px;
     display: inline-block;
     width: 36px;
font-size: 16px;
line-height: 20px;
height: 36px;
text-align: center;
 }
  .tick{
      color: white;
      background-color:green;
      border:2px solid green;
      border-radius: 50%;
      
  }
 .info hr{
     width: 60%;
     margin-left:45px;
     height: 1px;
     color:#666666;
     background-color: #666666;    
 }


.home-abt{
  margin-top: 40px;
  width: 100%;
background-color: #b0cce4;
  padding: 50px 3% 1% 6%;
  
}

.home-abt .container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 
}

.home-abt .container .text{
width: 80%;

}

.main-h{
  padding-bottom: 50px;
  color: #042849;
}
.sub{
  color: #0d4c83;
  padding-bottom: 10px;
  line-height: 1.5em;
}

.info-abt{
  padding-top: 20px;
  line-height:1.5em;
}


.gasimg img{
  height: auto;
  width: auto;
  max-width: 95%;
  float: right;
  padding-left: 3%;
  border-radius: 5%;
}

@media (max-width:900px){
.home-abt .container{
    flex-direction: column;
    
}
.home-abt .container .text{
    width: 100%;
    height: 60px;
    background-color:#358cd8;
     text-align:center;
 }
}
 

.gasimg img{
    height: auto;
    width: auto;
    max-width: 100%;
    float: left;
    
    padding: 3% 5%;
}



@media (max-width:700px){
.gasimg img{
    height: auto;
    width: auto;
    max-width: 100%;
    float: left;
    
    padding: 5% 0;
}
}
